obj_dir/
sim/

synth.json
synth.log
utilization.json
_synth_gen.ys
synthesis/synth.json
synthesis/synth.log
synthesis/utilization.json
synthesis/_synth_gen.ys

fir_sw
sw/output/fir_sw
sw/output/sw_output.txt
sw/output/sw_metrics.txt
hw/output/hw_output.txt
hw/output/hw_metrics.txt
